body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
ul{
    list-style-type: none;
    margin: 0% 5%;
    padding: 0;
    background-color: white;
    top: 0;
    position: sticky;
    overflow: hidden;
}
li{
    float: right;
    margin: 1% 2%;  
    font-weight: 700;
}
li a{
    text-decoration: none;
    color: black;
}
section{
    margin-bottom: 40%;
}
h1{
    font-size: 60px;
    line-height: 1;
    
}
h1 span{
    color: blueviolet;
}
#first{
    margin-top: -5%;
    margin-bottom: 6%;
    color: grey;
}

div a{
    text-decoration: none;
    background: linear-gradient(45deg, blueviolet , blue);
    border-radius: 5px;
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    box-shadow: 5px 7px 40px gray;
}
.change-the-about-section-first{
    width: 40%;
    float: left;
    margin-left: 7%;
    margin-top: 4%;
    padding-left: 2%;
}
 img{
    width: 550px;
    height: 500px;
}
.change-the-about-section-second{
    margin-top: 3%;
}
.change-the-about-section-third{
    margin-top: -5%;
    width: 40%;
    float: left;
    margin-left: 7%;
    padding-left: 2%;
}
p{
    font-size: 15px;
    margin-bottom: 15%;
    color: grey;
}
.change-the-about-section-fourth{
    width: 32%;
    float: left;
    margin-left: 7%;
    margin-right: 7%;
}
h2{
    font-weight: 1500;
    font-size: 40px;
}
.change-the-working-porject-section-first{
    background: rgb(237, 239, 250);
    height: 900px;
    border-radius: 5%;
    border: 1px solid rgb(237, 239, 250);
}
.change-the-working-porject-section-second h2{
    margin-top: 10%;
    margin-bottom: -5%;
    text-align: center;
    font-size: 50px;
    text-shadow: 5px 7px 40px gray;
}
.change-the-working-porject-section-second span{
    color: blueviolet;
}
.change-the-working-porject-section-third{
    padding: 1% 1% 1% 1%;
    border: 1px solid blueviolet;
    width: 28.66%;
    margin-left: 2%;
    background: blueviolet;
    border-radius: 5%;
   float: left;
   margin-top: 15%;
   box-shadow: 5px 7px 40px gray;
}
.change-the-working-porject-section-third img{
    width: 380px;
    height: 280px;
}
h3{
    font-size: 23.5px;
    color: white;
    margin-left: 1.5%;
    margin-top: %;
}
.change-the-working-porject-section-third p{
    margin: 4%;
    color: lightgray;
}
#change-the-height-and-width{
    width: 70%;
    height: 40%;
    position: relative;
}
.change-the-contact-section-first{
    
    margin-top: -30%;
    margin-left: 2%;
}
.container {
    position: relative;
    text-align: center;
    color: black;
  }
  .bottom-left {
    position: absolute;
    bottom: 60px;
    left: 250px;
    color: white;
  }
  .top-right {
    position: absolute;
    top: 100px;
    right: 240px;
  }
.top-right a{
    text-decoration: none;
    background: tomato;
    border-radius: 5px;
    padding: 10px 40px;
    color: white;
    font-weight: 700;
   
}
h5{
    text-align: center;
    color: gray;
}
h4{
    text-align: center;
}



